{% extends 'base.html.twig' %}

{% block title %}New Votes{% endblock %}

{% block body %}
    <h1>Create new Votes</h1>

    {{ include('votes/_form.html.twig') }}

    <a href="{{ path('app_votes_index') }}">back to list</a>
{% endblock %}
